@charset "UTF-8";
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/NanumGothic-Regular.ttf') format('truetype');
}
body{
	background-color: rgb(255,248,220);
}

.wrapper{
   text-align: center;
}
table {
   align-items: center;
}
.review-tr{
   margin: auto;
}
