@charset "UTF-8";
body{
	position: absolute;
  	top: 20%;
  	left: 25%;
}
.select {
    padding: 15px 10px;
}
.select input[type=radio]{
    display: none;
    border-radius: 20px;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 350px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:20px;
}
.select input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.select input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}
.repo input{
	position: absolute;
	top: 130%;
  	left: 40%;
}