/* 전체 컨테이너 스타일 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/NanumGothic-Regular.ttf') format('truetype');
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(255,248,220);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h1 {
    text-align: center;
    color: #333;
}

/* 폼 요소 스타일 */
.search-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search-form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.search-form input {
    padding: 10px;
    border: 2px solid #84A8F4;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.search-form button {
    padding: 10px;
    background-color: #84A8F4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.search-form button:hover {
    background-color: #7797DB;
}

/* 결과 영역 스타일 */
.results {
    margin-top: 20px;
}

.results table {
    width: 100%;
    border-collapse: collapse;
}

.results th, .results td {
    padding: 12px;
   
    text-align: left;
}

.results th {
    background-color:#7797DB	;
    color: white;
    border: 2px solid;
}


